.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.visible {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.modal {
  overflow-y: hidden;
  overflow-x: hidden;
  display: block;
  width: 1328px;
  height: auto;
  border-radius: 8px;
  padding: 64px;
  background-color: var(--body-color);
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 200ms 200ms ease, transform 300ms 200ms ease;
}

.visible .modal {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms 500ms ease, transform 350ms 500ms ease;
}

@media (max-width: 800px) {
  .modal {
    width: auto;
    margin: 20px;
  }
}
