.card-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .card-list {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
