.button {
  text-transform: uppercase;
  width: 280px;
  height: 90px;
  padding: 11px 14px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: border 0.3s;
}

.primary-button {
  background: var(--white-color);
}

.secondary-button {
  background: var(--body-color);
}

.primary-button:hover,
.secondary-button:hover {
  border: 4px solid rgba(0, 0, 0, 0.4);
}

.primary-button:focus,
.secondary-button:focus {
  border: 4px solid rgba(0, 0, 0, 0.5);
}

.primary-button:disabled,
.secondary-button:disabled {
  border: 4px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}
