@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: SourceSansPro, sans-serif;
  font-weight: 300;
}

:root {
  /* General Colors */
  --white-color: #fff;
  --black-color: #000;
  --body-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 183px 236px;
  background: var(--body-color);
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 48px;
  line-height: 60px;
}

.sub-heading {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
}

.description {
  font-size: 16px;
  line-height: 20px;
}

.add-more-btn {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background: var(--white-color);
  border: 4px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 110px;
  right: 120px;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-more-btn svg {
  font-size: 20px;
  cursor: pointer;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.label {
  width: 165.22px;
  height: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 8px;
  align-self: flex-start;
}

/* ------------------------------ React-Datepicker Override ------------------------------- */
.react-datepicker-wrapper input {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  background: var(--white-color);
  padding: 16px;
  font-size: 24px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.react-datepicker-wrapper input:focus {
  color: var(--black-color);
}
/* ------------------------------ End React-Datepicker Override ------------------------------- */

.homeMap {
  width: 100%;
  height: 20rem;
}
