.card {
  width: 400px;
  height: 336px;
  background: var(--white-color);
  border-radius: 8px;
  padding: 40px 32px;
  margin-bottom: 64px;
  position: relative;
  transition: box-shadow 0.3s, transform 0.4s, color 0.6s;
}

.card:hover {
  box-shadow: 2px 4px 10px -5px var(--black-color);
  transform: translateY(-15px);
}

.card-actions {
  position: absolute;
  display: flex;
  right: 23.61px;
  top: 18.17px;
  font-size: 20px;
}

.card-actions svg:first-child {
  margin-right: 12px;
  color: #979797;
}

.card-actions svg:last-child {
  color: #c0392b;
}

.card img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  margin-bottom: 32px;
  border: 1px solid #979797;
}

.card h2 {
  width: 160px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-bottom: 8px;
  align-self: flex-start;
}

.card p {
  width: 336px;
  height: 20px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .date {
  text-align: end;
  color: var(--white-color);
}

.card:hover .date {
  color: var(--black-color);
}

.card:hover .date span {
  color: #c0392b;
}
