.map-wrapper {
  width: 518px;
  height: 450px;
  border-radius: 8px;
  margin-right: 60px;
  flex: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.actions-wrapper {
  margin-top: 64.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 800px) {
  .map-wrapper {
    flex: none;
  }

  .input-group {
    flex: none;
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 470px) {
  .actions-wrapper {
    justify-content: space-between;
  }

  .actions-wrapper button:first-child {
    /* I am using important just to override the inline style I set in the Button itself */
    margin-right: 20px !important;
  }
}
